# Pyspark Setup Notebook

This notebook demonstrates how to setup an environment to use pyspark.

 * Revisions
    - Nov 2021: Spark version 3.2.0/HADOOP 3.2

# SETUP

In [30]:
import os
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import numpy as np

%config Completer.use_jedi = False


SPARKVERSION='3.2.0'
HADOOPVERSION='3.2'
pwd=os.getcwd()

os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = f"{pwd}/spark-{SPARKVERSION}-bin-hadoop{HADOOPVERSION}"

print(os.environ['SPARK_HOME'])

/home/ubuntu/code/us-ie-big-data-technologies/pandas/spark-3.2.0-bin-hadoop3.2

Download the necessary packages - this may take some time and is commented out should you wish to run this notebook multiple times (uncomment for your first run).

In [32]:
# !sudo apt-get install openjdk-8-jdk-headless -qq > /dev/null
# !wget https://dlcdn.apache.org/spark/spark-{SPARKVERSION}/spark-{SPARKVERSION}-bin-hadoop{HADOOPVERSION}.tgz
# !tar xf spark-{SPARKVERSION}-bin-hadoop{HADOOPVERSION}.tgz

Install package `findspark` which will set things up for you

In [33]:
import findspark
findspark.init()

# get a spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

%env PYARROW_IGNORE_TIMEZONE=1

env: PYARROW_IGNORE_TIMEZONE=1

# START

You should now have a pyspark environment

In [ ]:
df_ext = ks.read_csv('gcs_external_sources.csv')

In [25]:
import databricks.koalas as ks

ks.DataFrame([1,3,4])

   0
0  1
1  3
2  4

In [26]:
import pandas as pd
max(pd.Series([2,3,5]))

import databricks.koalas as ks
max(ks.Series([2,3,5]).to_numpy())

5